@import "tailwindcss";

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    background-color: #131418;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Scrollbar Styling to match Cloud.ru dark theme */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #131418;
}

::-webkit-scrollbar-thumb {
    background: #2d3038;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}
